body{
          padding: 25px;
          font-family: arial;
          width: 35%;
          margin-left: 32.5%;
          background-color: #ADD8E6;
      }
      .title {
          color: rgb(8, 99, 173);
          text-align: center;
          font-size:3.67vw;
          font-family:cursive;
      }
      a {
          background:#a88960;
          color:white;
          padding: 5px;
          height:2vw;
          text-decoration: none;
      }
      input:focus{
          color:rgb(0, 0, 0);
          border-color: rgb(175, 124, 56);
          background-color:#a88960;
      }
      textarea:focus{
          color:rgb(0, 0, 0);
          border-color: rgb(175, 124, 56);
          background-color:#a88960;
      }
      select:focus{
          color:rgb(0, 0, 0);
          border-color: rgb(175, 124, 56);
          background-color:#a88960;
      }
      section {
        background-color: aliceblue;
        padding:1vw;
        padding-bottom:4vw;
        border-radius: 3vw;
        box-shadow:10px 10px rgba(0, 0, 0, 0.1);
      }
      #dForm {
        margin:5%;
      }

      .rating-css .star{
        color:#ffe400;
        font-size:20px;
      }
      .rating-css input{
        display:none;
      }
      .rating-css input+label{
        font-size:25px;
        cursor:pointer;
      }
      .rating-css input:checked + label ~ label{
        color:#838383;
      }
      button{
        background-color: #a88960;
        border:none;
        border-radius:5px;
        color:white;
        cursor:pointer;
        font-size:1vw;
      }