body{
          padding: 25px;
          font-family: arial;
          width: 80%;
          margin-left: 10%;
          background-color: #ADD8E6;
      }
      .title {
          color: rgb(8, 99, 173);
          text-align: center;
      }

      legend {
          background: rgb(8, 99, 173);
          color: rgb(186, 236, 252);
          padding: 5px;
      }
      a {
          background:rgb(8, 99, 173);
          color:rgb(186, 236, 252);
          padding: 5px;
          text-decoration: none;
      }
      input:focus{
          color:rgb(0, 0, 0);
          border-color: aqua;
          background-color:rgb(143, 188, 224);
      }
      textarea:focus{
          color:rgb(0, 0, 0);
          border-color: aqua;
          background-color:rgb(143, 188, 224);
      }
      select:focus{
          color:rgb(0, 0, 0);
          border-color: aqua;
          background-color:rgb(143, 188, 224);
      }
      section {
        background-color: aliceblue;
        padding:1vw;
        padding-bottom:4vw;
        border-radius: 3vw;
        box-shadow:10px 10px rgba(0, 0, 0, 0.1);
      }
      #dForm {
        margin:5%;
      }

      .rating-css .star{
        color:#ffe400;
        font-size:20px;
      }
      .rating-css input{
        display:none;
      }
      .rating-css input+label{
        font-size:25px;
        cursor:pointer;
      }
      .rating-css input:checked + label ~ label{
        color:#838383;
      }
      button{
        background-color: rgb(168, 137, 96);
        border:none;
        border-radius:5px;
        color:white;
        height:30px;
        cursor:pointer;
      }